<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<section id="blocnote">

    <section id="links">
        <a href="/todolist">ToDo List</a>
        <a href="/blocnote">Bloc note</a>
    </section>

    <h1>Bloc Note</h1>

    <form action="/blocnote" method="post">
        <textarea name="newNote">{{note.text}}</textarea>
        <button type="submit">Sauvegarder</button>
    </form>

</section>

<script src="/js/htmx.min.js"></script>
</body>
</html>