<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav id="links">
    <a href="/todolist">ToDo List</a>
    <a href="/blocnote">Bloc note</a>
</nav>

<section id="todolist" class="content">
    <h1>ToDo List</h1>

    <form>
        <input type="text" name="text" placeholder="To do ...">
        <button type="submit"
                hx-post="/todolist/todo"
                hx-trigger="click"
                hx-target="#todos"
                hx-swap="beforeend">
            Ajouter
        </button>
    </form>

    <section id="todos">
        {{#todos}}
            <div class="todo todo-{{id}}">
                <span class="text">{{text}}</span>
                <span class="delete-icon"
                      hx-delete="/todolist/todo/{{id}}"
                      hx-trigger="click"
                      hx-target=".todo-{{id}}"
                      hx-swap="outerHTML"
                      hx-confirm="Êtes-vous sûr de vouloir supprimer le Todo ?">🗑️</span>
            </div>
        {{/todos}}
    </section>

</section>

<script src="/js/htmx.min.js"></script>
</body>
</html>